html {
  --accent-color: 0, 220, 130;
  --header-height: 3.5rem;
}
html.light {
  --background-color: 255, 255, 255;
  --text-color: 2, 4, 32;
}
html.dark {
  --background-color: 2, 4, 32;
  --text-color: 255, 255, 255;
}

.blur-bg {
  backdrop-filter: blur(10px);
}

.height-menu {
  height: calc(100vh - var(--header-height));
  transition: height 0.3s ease-out;
  top: var(--header-height);
}